html, body {
    height: 100%;
}

body {
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
}

a {
    text-transform: capitalize;
    text-decoration: underline;
}

input {
    border-color: red;
}

.bg-abs,
.bg-abs-right {
    position: absolute;
}

.bg-abs-right {
    right: 0;
}

.helper {
    font-size: 1.4em;
    font-weight: bold;
}

.helper,
.helper a {
    color: #ff00ff;
}

.helper-right {
    font-size: 1.4em;
    font-weight: bold;
    text-align: right;
}

.helper-right,
.helper-right a {
    color: #00FF00;
}

#welcome {
    height: 100vh;
}

#main {
    height: 100vh;
}

.form-container {
    margin-top: 30px;
}

#accessCode {
    margin-bottom: 10px;
    background-color: black;
    text-align: center;
    color: #ff00ff;
    font-size: 1.4em;
    border-radius: 0;
}

.main-content-container {
    text-align: right;
}

.main-link {
    color: blue;
    font-size: 1.4em;
    font-style: italic;
    font-weight: bold;
}

.description {
    text-align: center;
    color: red;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
    margin-top: 30px;
}

.absolute-container {
    position: absolute;
    left: 50.5%;
    top: 43%;

    text-align: center;
}

.display-code {
    display: block;
    position: relative;
    color: red;

    font-size: 6vw;
    left: -50%;
}

@media (max-width: 991px) {
    .absolute-container {
        top: 44%;
    }
}

@media (max-width: 768px) {
    .absolute-container {
        top: 48%;
    }
}

@media (max-width: 768px) {
    .absolute-container {
        top: 51%;
    }
}

#canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    display: none;
}

#audioControl {
    position: absolute;
    right: 4%;
    top: 3%;
    width: 30px;
    z-index: 99;
}

input.main-link {
    background: none;
    border: none;
    text-decoration: underline;
    cursor: pointer;
}